<h1><%= "#{teacher.first_name}'s Page"%></h1>

<table class="table">
  <caption>Course Name</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Name of Course</th>
      </tr>
    </thead>
    <tbody>
      <% teacher.courses.each do |c| %>
      <tr>
        <th scope="row"><%=c.id%></th>
          <td><%= c.name %></td>
        <% end %>
      </tr>
    </tbody>
</table>

<table class="table mystudent-table">
  <caption>Students</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Students</th>
      </tr>
    </thead>
    <tbody>
        <% teacher.students.each do |s| %>
      <tr>
        <th scope="row"><%=s.id%></th>
          <td><%= "#{s.first_name} #{s.last_name}"%></td>
      </tr>
        <% end %>
    </tbody>
</table>
